body {
  font-size: 23.2px;
  font-family: "Times New Roman";
}
p,
li {
  text-indent: 8.5%;
  letter-spacing: 1px;
  line-height: 1;
  text-align: justify;
}

li {
  text-indent: 0%;
}

ol,
ul {
  padding-left: 6.6%;
}

dt {
  font-style: italic;
}

h1,
h2,
h3 {
  line-height: initial;
  text-indent: 0%;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

table {
  width: 100%;
}

tbody > tr:nth-of-type(odd) {
  background: #f2f2f2;
}

.monospace-text {
  text-indent: 0%;
  font-family: Consolas, monaco, monospace;
}

.center-horizontal {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.title-left-big {
  text-align: left;
  font-size: 52px;
  margin: 0;
}

.wrapper {
  box-shadow: 5px 5px 5px rgba(204, 204, 204, 1),
    5px -5px 5px rgba(204, 204, 204, 1);
  padding: 12.2% 7% 12.2% 12.2%;
  background-color: white;
}

.background-wrapper {
  padding: 1% 13% 0%;
  background-color: rgba(237, 237, 240, 1);
}

img.padded-image {
  padding: 4%;
}

p.centered-indent {
  text-indent: 0%;
  padding-left: 8.5%;
  padding-right: 3%;
  text-align: initial;
}
